#k{display: block;
    margin-left: auto;
    margin-right: auto;
    
    width:600px;
    height:200px;
    position:relative;
    text-align: center;
    color: rgb(177, 199, 223);
    



}
#egy{ position: relative;
    left: 10%;


}

#kettő{ float: right;
    position: relative;
    top: 2cm;
    right: 10%;

}